/build
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/proguard-rules.pro
*.iml


*.class

.idea/misc.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml



