/build
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/proguard-rules.pro
*.iml
/3rdpartylib/extcal/build
//3rdpartylib/extcal/build/intermediates/bundles/debug/classes.jar
3rdpartylib\extcal\build\intermediates\bundles\debug\res\drawable
/3rdpartylib\extcal\build\intermediates\bundles\debug\res\layout
/3rdpartylib\extcal\build\intermediates\bundles\debug\res\values-land
/3rdpartylib\extcal\build\intermediates\bundles\debug\res\values-sw600dp
/3rdpartylib\extcal\build\intermediates\bundles\debug\res\values-sw720dp
/3rdpartylib\extcal\build\intermediates\bundles\debug\res\values-v11
/3rdpartylib\extcal\build\intermediates\bundles\debug\res\values-v14
/3rdpartylib\extcal\build\intermediates\bundles\debug\res\values
/3rdpartylib\extcal\build\intermediates\res
/3rdpartylib\extcal\build\intermediates\incremental\mergeAssets\androidTest\debug
/3rdpartylib\extcal\build\intermediates\incremental\mergeResourcesandroidTest\debug
/3rdpartylib\extcal\build\intermediates\incremental\packageResourcesdebug
/3rdpartylib\extcal\build\intermediates\res\merged\androidTest\debug\color
/3rdpartylib\extcal\build\intermediates\res\merged\androidTest\debug\drawable

*.class
/3rdpartylib/extcal/build/outputs/aar/extcal-debug.aar
.idea/misc.xml
/3rdpartylib/extcal/build/intermediates/bundles/release/classes.jar
/3rdpartylib/extcal/build/outputs/aar/extcal-release.aar
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/modules.xml
.idea/vcs.xml
/3rdpartylib/extcal/build/generated/source/buildConfig/release/com/tyczj/extendedcalendarview/BuildConfig.java
/3rdpartylib/extcal/build/intermediates/bundles/release/AndroidManifest.xml
/3rdpartylib/extcal/build/intermediates/bundles/release/aapt/AndroidManifest.xml
/3rdpartylib/extcal/build/intermediates/bundles/release/res/color/date_number_text_color.xml
/3rdpartylib/extcal/build/intermediates/bundles/release/res/drawable/date_number_background.xml
/3rdpartylib/extcal/build/intermediates/bundles/release/res/drawable/day_selected.xml
/3rdpartylib/extcal/build/intermediates/bundles/release/res/drawable/normal_day.xml
/3rdpartylib/extcal/build/intermediates/incremental/packageResourcesrelease/merger.xml
/3rdpartylib/extcal/build/intermediates/incremental/mergeAssets/release/merger.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
/3rdpartylib/extcal
/3rdpartylib\extcal\build\generated

