<!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyczj.extendedcalendarview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <provider
            android:name="CalendarProvider"
            android:authorities="calendarprovider" />
        <receiver android:name="com.milky.service.serverapi.BroadcastCalendar" >
            <intent-filter>
                <action android:name="com.android.USER_ACTION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
